/*
.google-sans-<uniquifier> {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}*/
html {
  font-size: 10px;
  background-color:#0c0141;
  font-family:  "Google Sans", sans-serif;
}
h2{
  color: #d43fee;
}
p, li, a, h1,h3{
  color: #ffffff;
}
h1 {
  text-align: center;
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}
p,
li{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

h2{
  text-align: center;
  font-size: 40px;
}
h3{
  text-align: center;
  font-size: 30px;
}
img{
  display: block;
  margin: 0 auto;
  /*img doesn't normally accepted margins so do the display:block, 
  0 auto means no vertical margin and automatic horizontal margin*/
  width: 100%;
  max-width: 100%;
}
button{
  display: block;
  margin: 20px auto;
  background-color: #d43fee;
  font-family: "Google Sans", sans-serif;
  font-size: 16px;
  font-style: bold;
  border-radius: 5px;
  border: none;
}
button:hover{
  background-color: #a52aee;
  cursor: pointer;
}

/*can use '.' along with class name and then
the css will apply to any html element with class = [class-name]*/